.card {
  width: 40rem;
  height: 20rem;
  border-radius: 10px;
  background-color: var(--yellow-600);

  padding: 1rem 1rem;
  box-shadow: 1px 1px var(--yellow-700);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
