.link {
  text-decoration: none;
  font-size: 2rem;
  color: var(--black-lighter);
  text-shadow: 8px 5px 11.5px var(--yellow-200);
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: bold;
  &:hover {
    transform: translateY(-3px);
  }
}
.button {
  background-color: var(--yellow-200);
  text-shadow: none;
  border-radius: 15px;
  padding: 1.5rem 5rem;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
}
