:root {
  --yellow-900: #f29927;
  --yellow-800: #f1a72b;
  --yellow-700: #f4ba30;
  --yellow-600: #f4c637;
  --yellow-500: #f4ce47;
  --yellow-400: #f4d867;
  --yellow-300: #f5e298;
  --yellow-200: #f7edc8;
  --yellow-100: #f9f9f6;

  --black: #141414;
  --black-lighter: rgba(0, 0, 0, 0.786);
  --black-bg: #2a2c2e;
  --white: #fff;
  --white-disabled: rgba(255, 255, 255, 0.38);

  --red: #ff2727;

  --gray-400: #646464;
  --gray-300: #ccc;
  --gray-200: #f0f0f0;
  --gray-100: #f6f4f0;
}
