.page {
  width: 100vw;
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; // Fill entire area without preserving aspect ratio
  background-position: center;
}
