.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .icon {
    font-size: 2rem;
    color: var(--yellow-1000);
  }
}

.table {
  &__factionContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 30%;
    gap: 1rem;
  }
  &__button {
    padding: 0.5rem 4rem;
    border: 1px solid var(--yellow-100);
    border-radius: 15px;
    transition: all 0.5s;
    box-shadow: 0 0 10px var(--shadow-yellow-100);
    color: var(--yellow-100);
    &:hover {
      border: 1px solid var(--yellow-1000);
      color: var(--yellow-1000);
      box-shadow: 0 0 15px var(--shadow-yellow-200);
    }
    &__icon {
      height: 2rem;
    }
  }
}
